// Place all the styles related to the quest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "simple_calendar";

.full-circle {
  background-color: #09cc00;
  height:50px;
  width:50px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}

.table-container {
  padding-top: 2em;
}

#intro {
  font-size: 20px;
  line-height: 1.5;
}

#quote {
  margin-top: 1em;
}
